{% extends "layout.html" %}
{% block body %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/signup.css" %}">
<script src="{% static "js/login.js" %}" type="text/javascript" defer></script>
<div class="container-fluid">
  <div class="fixed-top">
    <nav class="navbar" style="background-color: aqua;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="{% static "img/heart-pulse.svg"%}" alt="heart pulse icon" height="30"> A1 Healthcare</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex">
              <button class="btn btn-outline-success" type="submit"><a href="{% url "signup" %}">Sign Up</a></button>
            </form>
          </div>
        </div>
      </nav>
    </div>
  <div class="card mt-5">
      <h1 class="ms-5 mt-3 mb-3" style="font-weight: bolder; color: black;">LOGIN TO YOUR ACCOUNT</h1>
      <hr class="my-4">

<div class="main">
    <form method= "POST" action={% url "dochome" %} id="form">
      {% csrf_token %}
        <div class="in">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username">
          <div class="error"></div>
        </div>

        <div class="in">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password">
          <div class="error"></div>
        </div>
    
    <hr class="my-4">
    <button type="submit">Log In</button>
</form>
</div>
</div>
<footer class="container">
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>© 2017–2023 A1 Healthcare, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer>
</div>
{% endblock %}