body{
    background-color:azure;
    margin:0;
    font-family: 'Poppins', sans-serif; 
  }
  
  
  
  .card{
   background-color: azure;
  }
  
  #form{
    font-weight: bolder;
  }
  
  #form button{
    background-color: #792099;
    color:white;
    border: 1px solid #792099;
    border-radius: 5px;
    padding:10px;
    margin:20px 0px;
    cursor:pointer;
    font-size:20px;
    width:100%;
  }
  
  h1{
    color: black;
  }
  
  .main
  {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  #trtplan {
    height: 100px;;
  }

  #desc {
    height: 100px;
}
  
  .in{
    display:flex;
    flex-direction:column;
    margin-bottom: 15px;
    width: 400px;
  }
  
  .in input{
    border-radius: 5px;
    font-size:20px;
    margin-top:5px;
    padding:10px;
    border:1px solid rgb(34,193,195) ;
  }
  
  
  .in input:focus{
    outline:0;
  }
  
  .in.error{
    color:rgb(242, 18, 18);
    font-size:16px;
    margin-top: 5px;
  }
  
  .in.success input{
    border-color: #0cc477;
  }
  
  .in.error input{
    border-color:rgb(206, 67, 67);
  }
  
  footer ul li{ padding-bottom:6px; line-height: 19px;}
      footer ul li a{ color: #94a0a3; font-size: 12px; text-decoration: none;}
      footer ul li a:hover{ color: #f2d99d;}
      
      footer h5:after{ background-image:linear-gradient(90deg, #EC8046, #060822); bottom: 0px; content: ""; height: 2px; left: 0; position: absolute; right: 0; width: 50px; border-radius: 10px;}
  